body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
  }
  
  .terminal {
    background-color: #2b2b2b;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 700px; /* Ændret bredden */
    height: 450px; /* Ændret højden */
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px; /* Øget størrelsen */
    color: rgb(164, 212, 164);
  }
  
  .title-bar {
    background-color: #444;
    color: white;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .title {
    font-weight: bold;
  }
  
  .close-button {
    width: 15px;
    height: 15px;
    background-color: #ff5f56;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    padding: 5px 20px;
  }
  
  .prompt {
    margin-right: 10px;
  }
  
  .input-line {
    background-color: transparent;
    border: none;
    color: inherit;
    flex-grow: 1;
    padding: 0 10px;
    outline: none;
    cursor: text;
  }
  
  .input-line:focus {
    color: rgb(255, 255, 255);
  }
  
  .content {
    padding: 10px 20px;
    color: inherit;
    flex-grow: 1;
    overflow-y: auto;
    white-space: pre-wrap;
  }
  